body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
}

header {
  background-color: #e2922a;
  color: white;
  padding: 40px 20px;
  font-size: 2.5em;
}

.container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  width: 200px; /* Ajusta el tamaño del logo */
  margin-top: 30px;
}

.button {
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #e2922a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 70px;
}

.button:hover {
  background-color: rgb(138, 106, 36);
}

#qr-code {
  display: none;
  margin-top: 40px;
}

#mobile-button {
  display: none;
}

@media (max-width: 600px) {
  .container {
      padding: 20px;
  }
  header {
      font-size: 2em;
  }
  #qr-code {
      display: none;
  }
  #mobile-button {
      display: block;
  }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .container {
      padding: 20px;
  }
  header {
      font-size: 2em;
  }
  .logo img {
      width: 70%; /* Ajusta el tamaño del logo en pantallas pequeñas */
  }
  #qr-code {
      display: none;
  }
  #mobile-button {
      display: block;
      margin-top: 60px;
  }
  .button {
      width: 100%; /* Hace que el botón sea de ancho completo en móviles */
      padding: 24px;
  }
}